:root {
    --primary-color: #242943;
    --primary-color-hover: #3a4c6e;
    --primary-color-active: #1d2a3c;
    --success-color: #28a745;
    --success-color-hover: #218838;
    --success-color-active: #1e7e34;
    --danger-color: #dc3545;
    --danger-color-hover: #c82333;
    --danger-color-active: #bd2130;
    --secondary-color: #50adc9;
    --secondary-color-hover: #459ab0;
    --secondary-color-active: #3a87a0;
    --background-color: #F5F5F5;
    --text-color: #333;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --border-box: #adadad;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    width: 300px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.error-header {
    color: var(--danger-color);
}


.logo {
    height: 60px;
    margin-right: 10px;
}


h2 {
    font-size: 30px;
    margin: 0;
}


form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 8px;
    font-weight: bold;
}


input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 8px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 33.5px;
}


button:hover {
    background-color: var(--primary-color-hover);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


button:active {
    transform: translateY(2px);
    background-color: var(--primary-color-active);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
