:root {
    --primary-color: #242943;
    --primary-color-hover: #3a4c6e;
    --primary-color-active: #1d2a3c;
    --secondary-color: #50adc9;
    --background-color: #F5F5F5;
    --text-color: #333;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --border-box: #adadad;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    min-height: 100%;
    padding: 20px;
}


.search-form-container {
    background-color: white;
    padding: 20px;
    box-shadow: var(--box-shadow);
    flex: 0 0 auto;
    max-width: 400px;
    height: 500px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}


.results-container {
    background-color: white;
    padding: 20px;
    box-shadow: var(--box-shadow);
    flex: 1;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 500px;
}

.table-wrapper {
    flex: 1 1 45%;
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    min-height: 150px;
}



h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 13px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



button.search {
    background-color: var(--primary-color);
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;

}

button:hover {
    background-color: var(--primary-color-hover);
}

button:active {
    background-color: var(--primary-color-active);
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: arial;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 6px;
}

tr {
    cursor: pointer;
    background-color: var(--background-color);
}

th:first-child {
    border-top-left-radius: 4px;
}

th:last-child {
    border-top-right-radius: 4px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

tr:hover {
    background-color: #ececec;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #ddd;
}


.button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 10px;
}

.button-container {
    display: flex;
    margin-bottom: 10px;
}


.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

.first-row {
    display: flex;
    gap: 20px;
    margin-bottom: 0px;
}

div.id {
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.short_issue {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}


.tag-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
}


.tag-container input[type="checkbox"] {
    display: none;
}


.tag-container .tag-label {
    flex: 1;
    padding: 5px 0;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}


.tag-container .tag-label:hover {
    background-color: #e3f2fd;
    color: var(--primary-color);
    border-color: #4A8CC2;
}


.tag-container input[type="checkbox"]:checked + .tag-label {
    background-color: var(--primary-color);
    color: white;
}

.suggestions-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.no-results {
    padding: 10px;
    color: #888;
    font-size: 14px;
}



@media screen and (max-width: 768px) {
    body {
        padding: 0;
        max-width: 100%;
    }

    .main-container {
        flex-direction: column;
        padding: 0;
        max-width: 80%;
        margin-top: 50px;
    }

    .search-form-container, .results-container {
        max-width: 100%;
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .results-container, .search-form-container {
        padding: 0;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="date"],
    select {
        font-size: 16px;
        padding: 12px;
    }

    button.search {
        font-size: 16px;
        padding: 10px 20px;
    }

    .tag-container .tag-label {
        font-size: 14px;
        padding: 8px;
    }

    .table-wrapper {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

   
    table {
        font-size: 10px;
    }

    th, td {
        padding: 8px;
        font-size: 10px;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 20%;
    }

    tr:hover {
        background-color: #e0e0e0;
    }

   
    .input-row {
        flex-direction: column;
        gap: 15px;
    }

    .input-group, .form-group {
        flex: 1;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
    }
}