:root {
    --primary-color: #242943;
    --primary-color-hover: #3a4c6e;
    --primary-color-active: #1d2a3c;
    --success-color: #28a745;
    --success-color-hover: #218838;
    --success-color-active: #1e7e34;
    --danger-color: #dc3545;
    --danger-color-hover: #c82333;
    --danger-color-active: #bd2130;
    --secondary-color: #50adc9;
    --secondary-color-hover: #459ab0;
    --secondary-color-active: #3a87a0;
    --background-color: #F5F5F5;
    --text-color: #333;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --border-box: #adadad;
}

/* Alap stílusok az egész oldalra */
body {
    font-family: Arial;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 50px;
}


/* Hibabejelentés konténer stílusai */
.report-container {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 600px;
    max-width: 700px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    position: relative;
}

/* Cím stílusai */
h1 {
    font-size: 35px; /* Növelt betűméret */
    text-align: center;
    letter-spacing: 2px; /* Betűk közötti távolság */
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Űrlap stílusai */
form {
    display: flex;
    flex-direction: column;
}

/* Címke stílusai */
label {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

/* Input mezők stílusai */
input[type="text"],
textarea,
select {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-family: arial;
}

/* Hover állapot input mezők */
input[type="text"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
    border-color: var(--primary-color); /* Módosított szín */
    outline: none; /* Eltávolítja az alapértelmezett fókusz keretet */
}

/* Gomb stílusai */
.issue-button, .upload-button, .backbutton, .send-button {
    padding: 5px;
    background-color: var(--primary-color); /* Módosított szín */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

/* Gomb hover állapot stílusai */
.issue-button:hover, .upload-button:hover, .backbutton:hover, .send-button:hover {
    background-color: var(--primary-color-hover); /* Módosított szín */
    transform: translateY(-1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Gomb aktív állapot stílusai */
.issue-button:active, .upload-button:active, .backbutton:active, .send-button:active {
    transform: translateY(1px);
    background-color: var(--primary-color-active); /* Módosított szín */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Üzenet stílusai */
p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

textarea {
    resize: none; /* A méretét nem lehet kézzel állítani */
    height: auto; /* Automatikus magasság */
    min-height: 30px; /* Minimális magasság */
    max-height: 300px; /* Maximális magasság */
    overflow: auto; /* Nincs görgetősáv */
    line-height: 1.5; /* Sor magasság */
    font-family: arial;
    font-size: 15px;
}

/* Új stílusok a gombokhoz */
.button-container-img {
    display: flex; /* Flexbox elrendezés */
    margin-top: 0px; /* Felső margó a gomboknak */
    gap: 5px;
    margin-bottom: 16px;
}

.upload-button {
    background-color: var(--secondary-color); /* Módosított szín */
    padding: 5px 10px;
    color: white; /* Fehér szöveg */
    border: none; /* Nincs keret */
    cursor: pointer; /* Mutatóra vált a kurzor */
    font-size: 15px; /* Kisebb betűméret */
    margin-top: 0px;
}

.upload-button i {
    margin-left: 5px;
}

.upload-button:hover {
    background-color: var(--secondary-color-hover); /* Módosított szín */
}

.upload-button:active {
    background-color: var(--secondary-color-active); /* Módosított szín */
}

.clear-button {
    background-color: var(--danger-color); /* Piros háttér a törlés gombnak */
    color: white; /* Fehér szöveg */
    border: none; /* Nincs keret */
    padding: 5px; /* Kisebb padding */
    cursor: pointer; /* Mutatóra vált a kurzor */
    font-size: 15px; /* Kisebb betűméret */
    margin-top: 0px;
}

.clear-button:hover {
    background-color: var(--danger-color-hover); /* Sötétebb piros háttér hover esetén */
}

.clear-button:active {
    background-color: var(--danger-color-active); /* Sötétebb piros háttér hover esetén */
}


.button-container-send {
    display: flex;
    justify-content: center; /* Középre igazítás */
    gap: 10px; /* Kis hézag a gombok között */
}

.button-container-send button {
    flex: 0 1 170px; /* A gombok minimális szélessége 150px, maximális szélességük a konténer szélessége */
    max-width: 200px; /* Maximális szélesség a gomboknak */
    font-size: 20px; /* Nagyobb szöveg a gombokban */
    cursor: pointer;
    padding: 5px 30px; /* Gombok belső térköze */
}

.send-button {
    background-color: var(--primary-color); /* Zöld háttér a feltöltés gombnak */
}

.send-button:hover {
    background-color: var(--primary-color-hover); /* Sötétebb zöld háttér hover esetén */
}

.send-button:active {
    background-color: var(--primary-color-active); /* Sötétebb zöld háttér hover esetén */
}

.backbutton {
    background-color: var(--primary-color);
    color: white;
}

.backbutton:hover {
    background-color: var(--primary-color-hover);
    color: white;
    box-shadow: none; /* Eltávolítva az árnyék */
}

.backbutton:active {
    background-color: var(--primary-color-active);
    color: white;
    box-shadow: none; /* Eltávolítva az árnyék */
}

/* Kép előnézet stílusai */
.image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Középre igazítás */
    gap: 10px;
    margin-bottom: 16px;
}

.image-preview img {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.issue-type {
    display: flex; /* Flexbox elrendezés */
    flex-wrap: wrap; /* Sorok automatikus létrehozása */
    gap: 10px; /* Kis hézag a gombok között */
    margin-bottom: 16px;
}

.issue-button {
    flex: 1; /* A gombok egyenlően osztoznak a helyen */
    padding: 5px 0; /* Felső és alsó padding */
    border: 2px solid var(--primary-color); /* Módosított szín */
    background-color: white;
    color: var(--primary-color); /* Módosított szín */
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;
    font-weight: bold;
}

/* Kiválasztott állapot */
.issue-button.selected {
    background-color: var(--primary-color); /* Módosított szín */
    color: white; /* Fehér szöveg kiválasztva */
}

/* Hover állapot, ha a gomb nincs kiválasztva */
.issue-button:not(.selected):hover {
    background-color: #e3f2fd; /* Hover szín */
    color: var(--primary-color); /* Módosított szín */
    border-color: #4A8CC2; /* Módosított szín */
}

.location_dropdown option:disabled {
    color: lightgray; /* világosabb szürke az első opcióhoz */
}

.custom_dropdown option {
    color: black; /* a többi opció színe */
}

.optional {
    color: #9e9e9e; /* Halvány szürke a "opcionális" szöveghez */
}

.image-upload-wrapper {
    display: flex;

    align-items: baseline;
    gap: 10px; /* Térköz a label és a gombok között */
}

.button-container-img {
    display: flex;
    gap: 10px; /* Térköz a gombok között */
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.priority-slider {
    width: 100%;
    margin-top: 5px;
    appearance: none;
    -webkit-appearance: none; /* Webkit alapú böngészőkre */
    -moz-appearance: none;    /* Mozilla alapú böngészőkre */
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    transition: background 0.5s;
}

.priority-value {
    font-size: 15px;
    font-weight: bold;
    color: #333; /* Egységes sötét szürke szín */
}

.priority-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: var(--primary-color); /* Fehér szín */
    cursor: pointer;
}

.priority-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color); /* Fehér szín */
    cursor: pointer;
}

.priority-value {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

button {
    display: flex; /* Flexbox használata a gombokon */
    align-items: center; /* Középre igazítás függőlegesen */
    justify-content: center; /* Középre igazítás vízszintesen */
}

.backbutton i, .send-button i {
    margin-right: 5px; /* Távolság az ikon és a szöveg között */
    margin-left: 5px; /* Távolság az ikon és a szöveg között */
    font-size: 16px; /* Ha szükséges, állítsd az ikon méretét */
    line-height: 1; /* Az ikon igazítása */
    vertical-align: middle;
}


/* Mobiloptimalizálás */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }

    input[type="text"],
    textarea,
    select {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 18px;
        padding: 8px;
    }

    .button-container-send button {
        flex: 0 1 150px;
        font-size: 18px;
    }

    .image-preview img {
        width: 150px;
    }

    .issue-button {
        font-size: 14px;
        padding: 8px 0;
    }
}

.upload-section {
    margin-bottom: 20px;
}
.upload-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.upload-btn:hover {
    background-color: #0056b3;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.gallery-item {
    position: relative;
    display: inline-block;
}
.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
}
/* Rejtett input mező */
#fileInput {
    display: none;
}